* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.show_login section:not(.login){
  display: none;
}


/*form.login {
  background: #fff;
  position: relative;
  width: 80%;
  left: 10%;
  top: 80px;
  padding: 40px 0;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #666, 0px 0px 3px #666;
}
form.login input, form.login select {
  padding: 10px;
  margin-bottom: 40px;
  display: block;
  position: relative;
  width: 90%;
  left: 5%;
  font-size: 32px;
}
form.login input[type=submit], form.login select[type=submit] {
  margin-bottom: 0;
}
form.login input[type=submit].password_error, form.login select[type=submit].password_error {
  background: #fefcea;
  background: linear-gradient(to bottom, #fefcea 0%, #f1da36 100%);
  color: white;
  text-shadow: 1px 1px 2px #666;
}
form.login input[type=submit].login_error, form.login select[type=submit].login_error {
  background: #a90329;
  background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
  color: white;
  text-shadow: 1px 1px 2px #666;
}
form.login h2 {
  display: none;
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}
form.login h2.show {
  display: block;
}*/

header {
  background: #828c95;
  background: linear-gradient(to bottom, rgba(181, 189, 200, 0.75) 0%, rgba(43, 53, 58, 0.75) 100%);
  height: 80px;
  width: 100%;
  box-shadow: 0px 3px 3px #333;
}
header h1 {
  color: white;
  float: left;
  width: calc(100% - 180px);
  line-height: 80px;
  text-align: center;
  text-shadow: 2px 2px 1px #333;
}
header::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  width: 0;
}
header .menu_button {
  float: right;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  line-height: 80px;
  font-size: 36px;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
header .menu_button:active {
  background: rgba(0, 0, 0, 0.2);
}
header .logo {
  float: left;
  height: 70px;
  margin-top: 5px;
  margin-left: 10px;
}
header nav {
  background: #828c95;
  background: linear-gradient(to bottom, #b5bdc8 0%, #2b353a 100%);
  position: absolute;
  left: 5%;
  top: 99px;
  padding: 20px 0;
  width: 90%;
  z-index: 1001;
  display: none;
}
header nav form {
  position: relative;
  margin-bottom: 20px;
  width: 90%;
  left: 5%;
}
header nav form h2 {
  width: 100%;
  color: white;
  text-shadow: 2px 2px 1px #333;
  margin-bottom: 10px;
  font-size: 20px;
}
header nav form input, header nav form input:focus {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}
header nav form button {
  float: left;
  width: 45%;
}
header nav form button.save {
  margin-right: 10%;
}
header nav form::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  width: 0;
}
header nav button {
  padding: 2px;
  font-size: 18px;
}
header nav button.logout {
  position: relative;
  left: 5%;
}
header nav.open {
  display: block;
}

.main {
  position: relative;
}
.main::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  width: 0;
}

.group {
  position: relative;
  width: 100%;
}
.group::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  width: 0;
}

.button {
  outline: 1px solid black;
  /*Delete Me*/
  position: relative;
}
.button a {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 1px #333;
}
.button.custom {
  display: none;
}
.button.show {
  display: block;
}
.button.half, .button.small {
  float: left;
}
.button.sapr {
  background: linear-gradient(to bottom, #3a828c 0%, #26818e 50%, #107d8c 100%);
}
.button.afrc {
  background: linear-gradient(to bottom, #2e689b 0%, #175d9b 50%, #00529c 100%);
}
.button.shirt {
  background: linear-gradient(to bottom, #fcd26a 0%, #feca44 50%, #fcbd1e 100%);
}
.button.chaplain {
  background: linear-gradient(to bottom, #bab9a9 0%, #bcb98e 50%, #bab571 100%);
}
.button.aadd, .button.cab {
  background: linear-gradient(to bottom, #2c49a8 0%, #274197 50%, #20367e 100%);
}
.button.custom {
  background: linear-gradient(to bottom, #ccccc7 0%, #a8a8a4 50%, #7f7f7e 100%);
}

.drawer {
  background: linear-gradient(to bottom, #2c49a8 0%, #274197 44%, #20367e 100%);
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  padding-bottom: 20px;
  z-index: 1000;
  box-shadow: 0px -3px 3px #333;
}
.drawer.open {
  height: auto;
}
.drawer .opener {
  width: 100%;
  height: 52px;
  line-height: 52px;
  text-align: center;
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px 2px #333;
  cursor: pointer;
}

section.login{
    display: none;
    position: fixed;
    width: 80%;
    left: 10%;
    background-color: #999;
    z-index: 10000;
    overflow: visible;
    top: 100px;
}

section.login form{
    position: relative;
    width: 95%;
    left: 2.5%;
}

section.login form input, section.login form select, section.login form button{
    width: 100%;
    display: block;
    font-size: 24px;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
}


/*# sourceMappingURL=style.css.map */